<br>
<!-- <p id="notice"><#%= notice %></p> -->

<br>

<!-- <#%= params[:example_key].to_i * 10 %> -->

<br>

<h1>Salutations from <br>'The Movies Dare Mixer'</h1>

<h2>Your hub for great, risk-reverberating, movie-covers</h2>
<br class="titles-spread">
<br class="titles-spread">
<br class="titles-spread">
<br>
<br>
<hr>
<div id="new-products">
  <%= link_to 'New Product', new_product_path %>
</div>
<hr>
<br>
<br>
<h5>All Products</h5>

<div class="container-fluid products-overview">
  <div class="row products-row">
  <% cache(cache_key_for_products) do %>
    <%= render @products %>
  <% end %>
  </div>
</div>

<div class="pages-frame">
  <%= will_paginate @products, :previous_label => '←', :next_label => '→' %>
</div>
